<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/admin/fragments/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/admin/products/home.css}">
    <title>Admin - Produtos</title>
</head>
<body>
    <div th:replace="~{admin/fragments/base-admin :: navbar}"></div>

    <div class="title">
        <h1>Todos os produtos:</h1>
        <a class="add-product-link" th:href="@{/admin/product/create}"><img th:src="@{/pictures/icons/plus.png}">Adicionar produto</a>
    </div>

    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>ID</th>
                <th>Nome</th>
                <th>Cor</th>
                <th>Tamanho</th>
                <th>Oferta</th>
                <th>Imagem</th>
                <th>Preço</th>
                <th>Preço de desconto</th>
                <th>Preço antigo</th>
                <th>Início de oferta</th>
                <th>Expiração de oferta</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td><a th:href="@{'/admin/product/edit/' + ${product.id}}"><img th:src="@{/pictures/icons/edit.png}" alt="Edit" class="icon"></a></td>
                <td><a th:href="@{'/admin/delete/' + ${product.id} + '/confirm'}"><img th:src="@{/pictures/icons/remove.png}" alt="Delete" class="icon"></a></td>
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.color}"></td>
                <td th:text="${product.size}"></td>
                <td th:text="${product.offer}"></td>
                <td th:text="${product.price}"></td>
                <td><img th:src="@{${product.image}}" alt="Product Image" style="width: 100px; height: auto;"></td>
                <td th:text="${product.discountPrice}"></td>
                <td th:text="${product.previousPrice}"></td>
                <td th:text="${product.initialOffer}"></td>
                <td th:text="${product.expirationOffer}"></td>
                <td th:text="${product.category.name}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>