<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/fragments/fragment.css}">
	<title>Início</title>
</head>
<body>
	<div th:replace="~{fragments/base :: navbar}"></div>

	<main>
		<article class="main-banner">
			<img th:src="@{pictures/banner.jpg}" alt="">
			<h2>Image text</h2>
		</article>

		<!-- Formato decidido de: 'separação por categorias' -->
		<article class="products">
			<section class="product-section new">
				<div>
					<h2 class="product-type">Novos produtos</h2>
					<a href="#">Comprar</a>
				</div>

				<div class="list-of-products">
					<!-- for loop -->
				</div>
			</section>
		</article>
	</main>

	<footer>
		
	</footer>
</body>
</html>