<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/main/fragments/fragment.css}">
	<link rel="stylesheet" th:href="@{/css/main/home/style.css}">
	<title>Pets - Início</title>
</head>
<body>
	<div th:replace="~{main/fragments/base :: navbar}"></div>

	<main>
		<article class="main-banner">
			<img th:src="@{pictures/banner.jpg}" alt="">
			<h2>Seja bem vindo ao Pets!</h2>
		</article>

		<!-- Formato decidido de: 'separação por categorias' -->
		<article class="products">
			<section class="product-section new" th:each="p: ${products}">
				<div class="product-shop">
					<h2 class="product-type">Novos produtos</h2>
					<a href="#">Comprar</a>
				</div>

				<div class="list-of-products">
					<div class="product" th:each="p: ${products}">
						<div class="product-image">
							<img src="" alt="imagem do produto">
						</div>

						<div class="product-info">
							<div class="p-main-line">
								<h4 id="productName">Nome produto</h4>
								<span id="productColor">Cor</span>
							</div>
							<div class="p-price-line">
								<span id="productPrice">R$ 15,25</span>
								<span id="productOffer">R$ 10,99</span>
							</div>
							<div class="p-buy-line">
								<button>Adicionar ao carrinho</button>
								<button>Comprar</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</article>
	</main>

	<div th:replace="~{main/fragments/base :: footer}"></div>
	
</body>
</html>