<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main/fragments/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/main/product-shopping/style.css}">
    <title>Pets - Compra</title>
</head>

<body>
    <div th:replace="~{main/fragments/base :: navbar}"></div>

    <main>
        <section class="card-product-shopping">
            <div class="product-image-apresentation">
                <div class="images-variation">
                    <img src="" alt="imagem 1">
                    <img src="" alt="imagem 2">
                </div>

                <div class="image-zoom">
                    <img src="" alt="imagem maior">
                </div>
            </div>


            <div class="product-info-details">
                <div class="p-main">
                    <div class="p-title">
                        <h2 th:text="${product.name}">Título do produto</h2>
                    </div>

                    <div class="p-color">
                        <span>Cor(es) diponível(s):</span>
                        <select name="colors">
                            <option value="color1">Cor 1</option>
                            <option value="color2">Cor 2</option>
                        </select>
                    </div>

                    <div class="p-size">
                        <span>Tamanhos: </span>
                        <select name="size">
                            <option value="small">Pequeno</option>
                            <option value="small">Médio</option>
                            <option value="small">Grande</option>
                        </select>
                    </div>
                    
                    <!-- <div class="p-purchases">
                        <span>4 produtos vendidos</span>
                    </div> -->
                </div>

                <hr class="product-div-line">
                
                <div class="p-other">
                    <div class="p-price">
                        <div class="p-price-value">
                            <span id="p-discount-price">-%</span>
                            <span id="p-def-price" th:text="'R$ ' + ${product.discountPrice}"></span>
                        </div>
                        <div class="p-old-price">
                            <span id="p-old-price" th:text="'R$ ' + ${product.previousPrice}"></span>
                        </div>
                    </div>

                    <hr class="product-div-line">

                    <div class="p-div-value">
                        <span>Em até 4x de R$ 9,99 sem juros</span>
                        <span id="div-value-prices">Parcelas disponíveis</span>
                    </div>
                    

                </div>
            </div>

            <div class="product-price-details">
                <div class="p-subtotal">
                    <span>Subtotal:</span>
                    <span id="product-subtotal" th:text="'R$ ' + ${product.price}"></span>
                </div>
                
                <div class="p-delivery">
                    <div class="delivery-price">
                        <span>Frete:</span>
                        <span>R$ 3,99</span>
                    </div>

                    <div class="delivery-date">
                        <span>Data de previsão da entrega:</span>
                        <span>28 - 29 de setembro</span>
                    </div>
                </div>

                <div class="delivery-adress">
                    <img th:src="@{/pictures/icons/locale.png}" alt="imagem de mapa">
                    <a href="#">Editar endereço</a>
                </div>

                <div class="set-quantity">
                    <div>
                        <span>Quantidade:</span>
                        <select name="p-quantity">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>

                    <div>
                        <span id="p-available" th:text="'Disponíveis: ' + ${product.stock}"></span>
                    </div>
                </div>

                <div class="shopping-actions">
                    <button id="add-to-cart">Adicionar no carrinho</button>
                    <button id="buy-product">Comprar este produto</button>
                </div>
            </div>
        </section>

        <hr class="div-topic-line">

        <section class="rel-products">
            <h3>Produtos relacionados:</h3>

            <div>
                <button><</button>
                <div class="rel-products-carousel">
                    <div class="carousel p1"></div>
                    <div class="carousel p2"></div>
                    <div class="carousel p3"></div>
                    <div class="carousel p4"></div>
                </div>
                <button>></button>
            </div>
        </section>

        <hr class="div-topic-line">

        <section class="product-important-details">
            <h3>Sobre o produto:</h3>

            <div class="product-construction-details">
                <h4>Como é feito</h4>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus pariatur beatae atque.</p>
            </div>
        </section>

        <hr class="div-topic-line">

        <section class="product-description">
            <h3>Descrição do produto:</h3>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero quam suscipit laborum nulla mollitia eos
                consequuntur neque numquam beatae aliquid quas deserunt corporis, magnam expedita quo cumque! Corporis,
                officia quibusdam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas provident nulla id
                aliquid amet adipisci quod aperiam eveniet velit. Eveniet odio repudiandae cupiditate repellendus
                blanditiis ab vitae et, incidunt deserunt!</p>
        </section>
    </main>

    <div th:replace="~{main/fragments/base :: footer}"></div>

    <script th:src="@{/js/main/header.js}"></script>
</body>
</html>