@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: 'Poppins';
}

main {
	background-color: #fce9d1;
	height: 100vh;
	padding: 80px 120px;
}


.cart-area {
	background-color: #fce9d1;
	display: flex;
	gap: 3%;
}

/* Cart Main */
.cart-main {
	background-color: #fdc0ff;
	width: 80%;
	padding: 50px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	border: 1px solid #a0a0a099;
}

.cart-area hr {
	margin: 20px 0;
	color: #00000044;
}

.cart-title h1 {
	font-size: 35px;
	font-weight: 500;
}

.each-product-cart {
	display: flex;
	gap: 2%;
	margin-bottom: 25px;
}

/* products */
.product-area-left {
	display: flex;
	gap: 15px;
	width: 20%;
}

.product-pic {
	width: 100%;
	height: 150px;
	border: 1px solid #000;
}

.product-main {
	display: flex;
	justify-content: space-between;
	width: 78%;
	gap: 5%;
}

.product-cart-left {
	width: 65%;
}

.product-info {
	/* background-color: red; */
	display: flex;
	gap: 5px;
	width: 100%;
	margin-bottom: 30px;
	font-size: 21px;
}

#p-title, #p-color, #p-category {
	font-size: 17px;
	font-weight: 400;
}

/* product actions */
.product-actions {
	/* background-color: red; */
	display: flex;
	align-items: center;
	gap: 15px;
}

.product-actions button {
	cursor: pointer;
}

#p-quantity {
	display: flex;	
	align-items: center;
	height: 35px;
	gap: 5px;
}

#p-quantity button {
	padding: 5px;
	font-size: 20px;
	border-radius: 0;
	border: 1px solid #000;
	width: 30px;
}

#p-delete, #p-share {
	background-color: #fff;
	font-size: 15px;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #00000074;
}

#p-delete:hover, #p-share:hover {
	background-color: #ffffffb1;
}

#p-quantity input{
	background-color: #fff;
	width: 30px;
	height: calc(100% - 12px);
	border: 1px solid #000;
	padding: 5px;
	font-size: 15px;
	outline: none;
	text-align: center;
	font-weight: bold;
}

/* price */
.product-cart-right {
	display: flex;
	justify-content: right;
	width: 30%;
}

.product-price {
	display: flex;
	align-items: self-end;
	flex-direction: column;
}

#p-price {
	font-size: 20px;
	font-weight: 600;
}

/* Cart Buy */
.cart-buy {
	background-color: #fdc0ff;
	width: 17%;
	padding: 50px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	border: 1px solid #a0a0a099;
	height: 200px;
}

.pclose-subtotal, .pclose-delivery {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

#pclose-subtotal-price, #pclose-delivery-price {
	font-weight: 600;
}

.cart-buy input {
	background-color: #fff;
	border: solid 1px #000;
	padding: 10px;
	width: 100%;
	cursor: pointer;
	margin-top: 20px;
}

.cart-buy input:hover {
	background-color: #ffffffc0;
}
